* {
  font-family: poppins;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-item a {
  color: #201c11;
  font-size: 1.1rem;
}

.content_inputs {
  width: 100%;
}
.nav-item a:hover {
  color: #e1dad0;
}
#nav-toggle:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.nav-link {
  position: relative;
}
.nav-link:hover,
.nav-link.active::before {
  color: #e1dad0;
}
#containerFluid {
  margin: 0px 100px;
}
@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(6%);
    width: 0;
    height: 2px;
    background-color: #e1dad0;
    visibility: hidden;
    transition: all ease-in-out 0.3s;
    border-radius: 3px;
  }
  .nav-link:hover::before,
  .nav-link.active::before {
    width: 90%;
    visibility: visible;
  }
}
.contact-us {
  background-color: #91b377;
  display: grid;
  border-radius: 20px;
  padding: 40px 50px;
  margin-top: 3rem;
  transition: 0.4s ease;
  font-size: 3rem;
  place-content: center;
  color: #201c11;
}
.order-2,
/* .order-1 {
  justify-content: center;
} */
.content_inputs input {
  width: 18rem;
  height: 5rem;
}

.contact-us:hover {
  box-shadow: rgba(20, 20, 20, 0.274) 0px 4px 12px;
}
#navInput {
  width: 8rem;
  border-radius: 0.5rem;
  padding: 3px 12px;
  border: none;
  background-color: #e1dad0;
}
.content-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5e883e;
  font-family: "Times New Roman", Times, serif;
  width: 70%;
}
.contact-form {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  border: 2px solid #201c11;
  border-radius: 10px;
  transition: 0.5s all ease-out;
  backdrop-filter: blur(10px);
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.2);
}

.contact-form input[type="submit"] {
  background-color: #201c11;
  color: #e1dad0;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  border-radius: 10px;
  margin: 0px auto;
  display: block;
  width: 70%;
}

.contact-form input[type="submit"]:hover {
  background-color: #5e883e;
  color: #e1dad0;
  transition: 0.5s ease-in-out all;
}
#faq-container {
  max-width: 940px;
}
.accordion-button {
  background-color: #f0f0f0;
  color: #201c11;
}
.accordion-body {
  background-color: #f0f0f0;
  color: #201c11;
}
.h5 {
  color: #201c11;
  transition: 0.3s ease-in;
}
.h5:hover {
  color: #e1dad0;
  transition: 0.3s ease-out;
}
#footer-link-sec {
  display: flex;
  flex-direction: column;
}
#footer-last-link {
  display: flex;
  flex-direction: column;
}
ul li a {
  color: #201c11;
  text-decoration: none;
}
ul li a:hover {
  color: #e1dad0;
  transition: 0.4s all ease-in-out;
}
/* Media query */
@media (min-width: 320px) and (max-width: 991px) {
}
@media (min-width: 320px) and (max-width: 768px) {
  #containerFluid {
    margin: 0px;
  }
  #navInput {
    width: 6rem;
  }
  .contact-us {
    font-size: 2rem;
    margin-top: 4rem;
  }
  .p {
    font-size: 1rem;
  }
  .content-intro {
    width: auto;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  #footer-last-link {
    display: none;
  }
  #footer-link-sec {
    display: none;
  }
}
@media (min-width: 550px) {
  #footer-link-sec {
    display: block;
  }
}
